.home{
    display: flex;
    .homeContainer{

        .widgets{
            padding: 20px;
            display: grid;
            grid-auto-flow: row;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            width: 100%;

        }
        .welcomewidget{
            display: flex;
            justify-content: center;
            padding: 20px;
        }
        
    }
}