.widget {
    display: flex;
    margin-right: 20px;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    background-color: #04315b;
    border-radius: 10px;
    height: 100px;
  
    .left {
      display: flex;
      flex-direction: column;
      flex: 1;
      color: #faf9f6;
  
      .title {
        font-size: 14px;
        margin-bottom: 10px;
      }
  
      .bottom {
        display: flex;
        align-items: center;
  
        .counter {
          font-size: 64px;
          font-weight: bold;
          margin-right: 10px;
        }
  
        .type {
          font-size: 34px;
          font-weight: 500;
        }
      }
    }
  }
  